# Data Cleaning and Analysis

## Data Access Into DF

In [6]:
import matplotlib.pyplot as plt
from wordcloud import WordCloud, STOPWORDS
import sys, os
import pandas as pd

df = pd.read_csv('data/BA_reviews.csv')
df

     Unnamed: 0                                            reviews
0             0  ✅ Trip Verified |  Customer Service does not e...
1             1  ✅ Trip Verified | Another really great pair of...
2             2  Not Verified |  Our A380 developed a fault tax...
3             3  Not Verified | Horrible airline. Does not care...
4             4  ✅ Trip Verified |  My family and I have flown ...
..          ...                                                ...
995         995  ✅ Trip Verified | Flew Madrid to London Heathr...
996         996  ✅ Trip Verified |  London Heathrow to Brindisi...
997         997  ✅ Trip Verified | I have BA silver membership....
998         998  ✅ Trip Verified |  Hamburg to London. Initial ...
999         999  Not Verified |  Glasgow to Miami via London. G...

[1000 rows x 2 columns]

## Turn Into WordCloud

In [19]:
review = df['reviews']
review_collection = review.str.cat(sep=', ')
stopwords = STOPWORDS #collection of words to not be included in the word cloud
wc = WordCloud(
        background_color='white',
        stopwords=stopwords,
        height=600,
        width=400
)
wc.generate(review_collection)
wc.to_file('analysis/wordcloud_output.png')